.container {
  width: 100%;
  height: 100vh;

  background-color: var(--black);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  width: auto;
  max-width: 480px;
  object-fit: contain;
  height: auto;
}

.title {
  margin: 28px;

  color: var(--white);
  text-align: center;
  line-height: 150%;
}

.infoContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box {
  padding: 14px;

  background-color: var(--white);

  border-radius: 5px;
}

.box:hover {
  transform: scale(1.08);
  transition: transform 0.4s;
}

@media screen and (max-width: 580px) {
  .hero {
    max-width: 80%;
  }

  .title {
    font-size: 24px;
  }

  .infoContent {
    flex-direction: column;
  }

  .box {
    width: 70%;
    margin-bottom: 14px;
    text-align: center;
  }
}
